version: "3.3"
services:
  app:
    image: business_intelligence
    build:
      context: "."
      args:
        - "UID=${UID:-1000}"
        - "GID=${GID:-1000}"
    container_name: business_intelligence
    networks:
      phoenix:
        ipv4_address: 172.40.0.2
    ports:
      - "4000:4000"
    environment:
      - AWS_ACCESS_KEY_ID=
      - AWS_SECRET_ACCESS_KEY=
      - AWS_BUCKET=
      - AWS_REGION=
    volumes:
      - type: bind
        source: .
        target: /app
    user: 1000:1000
networks:
  phoenix:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.40.0.0/24
          gateway: 172.40.0.1
